/*.skillsBlock {*/
/*    height: 100vh;*/
/*    background-color: #d4ffc0;*/
/*}*/

/*.skillsContainer {*/
/*    align-items: center;*/
/*    flex-direction: column;*/
/*    justify-content: flex-start;*/
/*}*/

/*.skills {*/
/*    border: 1px solid;*/
/*    width: 100%;*/
/*    justify-content: space-between;*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/

/*}*/

/*.title {*/
/*    background-color: #eeeef5;*/
/*}*/

.myProjectsBlock {
    background-color: #81efce;
    height: 100vh;
}

.myProjectsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.myProjects {
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

