@import '../common/styles/sass/Variables';

.myProjectsBlock {
  background-color: $bgColor;

  .myProjectsContainer {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;

    .myProjects {
      display: flex;
      justify-content: space-between;
      width: 100%;
      flex-wrap: wrap;
      @media screen and (max-width: 1129px) {
        justify-content: center;
      }
    }
  }
}





