.contactsBlock {
    height: 100vh;
    background-color: pink;
}

.contactsContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.form {
    display: flex;
    flex-direction: column;
    border: 1px solid;
}

.formInput {
    height: 25px;
    width: 200px;
    margin: 20px 20px;
}

.formTextArea {
    height: 200px;
    width: 200px;
    margin: 20px 20px;
}

.button {
    background-color: #fcf4f4;
    color: #8d8d8d;
    padding: 10px 20px;
    border-radius: 3px;
    text-decoration: none;
}