@import '../../common/styles/sass/Variables';
@import '../../common/styles/sass/mixins';

.myProject {
  width: 500px;
  display: flex;
  flex-direction: column;
  background-color: $bgSecondColor;
  margin-bottom: 40px;
  .imgContainer {
    height: 300px;
    display: flex;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      background-color: black;
      opacity: 0.4;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    .button {
      font-family: 'Poppins', sans-serif;
      font-weight: 400;
      line-height: 1.2;
      font-size: 12px;
      position: relative;
      letter-spacing: 1px;
      text-transform: uppercase;
      z-index: 1;
      background-color: $primaryColor;
      color: $titleColor;
      padding: 7px 20px;
      border-radius: 3px;
      text-decoration: none;
    }
  }

  .projectInfo {
    padding: 25px 20px;

    .projectTitle {
      @include text($titleFontFamily, 18px, 1.2);
      color: $titleColor;
      letter-spacing: 1px;
      margin: 0 0 5px;
    }
    .description {
      @include text($textFontFamily, 14px, 1.8);
      color: $textColor;
      font-weight: 400;
    }
  }

}